* {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.top {
  flex-grow: 1;
}
body {
  font-family: sans-serif;
}
.header {
  height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}
.header__center {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.h1 {
  width: 504px;
  font-size: 64px;
  color: #1f3f68;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}
.info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(../img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.text_info {
  width: 425px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.top_button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #454545;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.h3 {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.header2 {
  padding-top: 64px;
}
.card {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.product_card_info {
  font-style: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}
.card_link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}
.product_card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.img_123 {
  align-self: center;
  margin-bottom: 51px;
}

/* Здесь вставлен костыль :) */
.crutch {
  margin-top: -31px;
  z-index: 1;
}

.crutch1 {
  z-index: 1;
  position: absolute;
  margin-top: 10px;
  margin-left: -3px;
}

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.adaptive {
  width: 100%;
}
.project_text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project_item {
  position: relative;
  flex-grow: 1;
}
.group_img_drawing {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 112px;
}
.adaptive1 {
  margin-right: 32px;
}
.img_drawing {
  position: relative;
}
.project_adaptive {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  left: 32px;
  top: 32px;
  text-align: left;
}
.footer {
  height: 657px;
  background: #316099;
  width: 1366px;
  margin: 0 auto;
}
.blok-question {
  display: flex;
  flex-direction: column;
}

.top_left_blok_question {
  height: 391px;
  display: flex;
  flex-direction: column;
}
.button_blok {
  width: 50vw;
}

.button_blok2 {
  width: 50vw;
  color: #454545;
}
.button_blok2 {
  width: 50vw;
  color: #454545;
}
